server/*.py[cod]
server/.pytest_cache

# Packages
server/*.egg
server/*.egg-info
server/dist
server/build
server/eggs
server/parts
server/bin
server/var
server/sdist
server/develop-eggs
server/.installed.cfg
server/lib
server/lib64
**__pycache__
**.pyc

# Installer logs
server/pip-log.txt

# Unit test / coverage reports
server/.coverage
server/.tox
server/nosetests.xml

# Translations
server/*.mo

**.venv
**venv
**.flaskenv
**.vscode
**.DS_Store
server/logs
server/migrations/schema.sql
